body{
    background-color: aqua;
    padding: 0;
    margin: 0;
}
nav{
    background-color: yellow;
    text-decoration: none;
    margin: 10px;
}
li{
    

}
.main{

    display: flex;
    justify-content: center;
    padding: 10px;
}
.div_1{
    background-color: brown;
    border-style: dotted black ;
    padding: 10px;
    margin: 10px;
    border: 2px;
    width: 300px;
    height: 400px;
    text-align: justify;
    text-align: left;
    border-radius: 7px;
}
.div_2{
    background-color: gray;
    border-style: dotted black ;
    margin: 10px;
    padding: 10px;
    border: 2px;
    width: 300px;
    height: 400px;
    text-align: left;
    text-align: justify;
    border-radius: 7px;
    
}
.div_3{
    background-color: green;
    border-style: dotted black ;
    margin: 10px;
    padding: 10px;
    border: 2px;
    width: 300px;
    height: 400px;
    text-align: left;
    text-align: justify;
    border-radius: 7px;
    
}
.div_4{
    background-color: yellow;
    border-style: dotted black ;
    margin: 10px;
    padding: 10px;
    border: 2px;
    width: 300px;
    height: 400px;
    text-align: left;
    text-align: justify;
    border-radius: 7px;
}